<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/bulma.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer" rel="stylesheet">
<header>
	<h1 class="opry">Road To The Opry</h1>
	<h4 class="h4"> If you are a musician aspiring to be anyone, you want to be in the six foot circle of wood at the Grand Ole Opry. To get there, some think that the Nashville strip is the place to be...but the places where the songwriters go are just beyond the borders. </h4>
</header>
