<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body class='container'>
		<div>
		<div>
	<h1 class='header'></h1>
		</div>
		<div class='row'>
	<form class="form" action='/' method='POST'>
			Name: <input type='text' name='name' />
			Location: <input type='text' name='location' />
			Img: <input type='url' name='img'  />
			Description: <input type='text' name='description' />
			Rating: <input type='number' name='rating' />
		<div>
		<input type='submit' value='Add New Venue' />
	</div>
	</form>
	</div>
	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

	</body>
</html>
