body {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 100%;
}

header {
	background-color: pink;
	position: relative;
}

div {
	background-color: blue;
}

ul {
	background-color: red;
	flex-direction: row;
	align-items: center;
	align-self: center;
	text-align: center;
	width: 100%;
}

.showimg {
	height: 600px;
	width: 600px;
	align-self: center;
	align-items: center;
}

.imgone {
	height: 680px;
	width: 800px;
}

.venues {
	background-color: yellow;
	height: 50px;
	width: 100%;
}
